#mainContents {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftSpace {
  flex: 1;
}

.middleSpace {
  flex: 8;
  margin-top: 3rem;
}

.rightSpace {
  flex: 1;
}

.boldFont {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.toggleComponentsPosition {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.toggleComponentsPosition > div {
  display: flex;
}

.toggleComponentsPosition div:nth-child(1) {
  margin-right: 0.5rem;
}

.listPosition {
  margin-top: 3rem;
}

.dropButton {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: gray;
  font-size: 0.5rem;
  border-radius: 5px;
  padding: 0.3rem 1rem 0.3rem 0.5rem; 
  border: 1px solid gray;
  cursor: pointer;
}

.dropButton2 {
  width: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: gray;
  font-size: 0.5rem;
  border-radius: 5px;
  padding: 0.3rem 1rem 0.3rem 0.5rem; 
  border: 1px solid gray;
  cursor: pointer;
}

.dropButton > div {
  color: black;
}

.dropButton2 > div {
  color: black;
}

.dropdownContents1 {
  display: none;
  position: absolute;
  background-color: white;
  border: black 1px solid;
  /* margin-top: 0.2rem; */
  width: 7rem;
  padding-left: 1rem;
  z-index: 1;
}

.dropdownContents1 p {
  color: black;
  display: block;
}

.dropDown:hover .dropdownContents1 {
  display: block;
}

.dropdownContents2 {
  display: none;
  position: absolute;
  background-color: white;
  border: black 1px solid;
  /* margin-top: 0.2rem; */
  width: 8rem;
  padding-left: 1rem;
  z-index: 1;
}

.dropdownContents2 p {
  color: black;
  display: block;
}

.dropDown:hover .dropdownContents2 {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1rem;
  margin-right: 0.3rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: -0.5rem;
  bottom: -0.25rem;
  background-color: white;
  border: 0.1px lightgray solid;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #bbdefb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #bbdefb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
  background-color: #2196f3;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.nothingInhere {
  text-align: center;
  border: gray 1px solid;
  color: gray;
  height: 7rem;
  width: 100%;
}

.toggleDisc {
  font-size: 0.5rem;
}

.nothingInhere > div {
  margin-top: 2.8rem;
}